In [12]:
# Dear Student, your observation is correct: Project Gutenberg provides content whereas Novel TM provides metadata.
# However, in just a few steps you can join the meta data with your content, allowing you to access this information in a single 
# dataframe 

# Here is a code example: 

# First download your Project Gutenberg data:

In [60]:
import pandas as pd
from gutenberg.acquire import load_etext
from gutenberg.query import get_metadata
from gutenberg.cleanup import strip_headers

gutenberg_mirror = 'https://gutenberg.pglaf.org/'

In [61]:
# Write the name and title to match the Novel TM data set (note that the name is ordered "last name, first name")
book = [[1400,"Great expectations: [and other stories]","Dickens, Charles"]]
book

# create a data frame from "book" that has columns for the ID, title, and author.
# give the columns the same name as NovelTM's.
guten_df = pd.DataFrame(book, columns=['ID','shorttitle','author']) 
guten_df

In [63]:
# clean the data
guten_df['FullText'] = guten_df.apply(lambda row: strip_headers(load_etext(row['ID'], mirror=gutenberg_mirror)).replace("\n", "").replace("[Illustration]", "") , axis=1)
guten_df

,ID,shorttitle,author,FullText
0,1400,Great expectations: [and other stories],"Dickens, Charles",Great Expectations[1867 Edition]by Charles Dic...

In [ ]:
# Now select your Novel TM data:

In [70]:
path_to_noveltm_metadata = "/scratch/group/history/hist_3368-jguldi/tedunderwood-noveltmmeta-451ae72/metadata"

title_metadata = pd.read_csv(f'{path_to_noveltm_metadata}/titlemeta.tsv', sep='\t', low_memory=False)

# Here I am selecting just Dickens's Great Expectations
great_expectations_metadata = title_metadata[92:93].copy()

In [65]:
great_expectations_metadata

,docid,oldauthor,author,authordate,inferreddate,latestcomp,datetype,startdate,enddate,imprint,...,allcopiesofwork,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,shorttitle,nonficprob,juvenileprob
92,inu.30000011835398,"Dickens, Charles","Dickens, Charles",1812-1870.,0,1870,n,,,New York|Mershon co.|n.d.,...,1.0,1.0,NaN,NaN,Great expectations: | [and other stories]/ | $...,NaN,True,Great expectations: [and other stories],0.521284,0.081614

In [ ]:
# Now merge the two into a single data frame:

In [68]:
df_merged = pd.merge(guten_df, great_expectations_metadata, on=['author', 'shorttitle'], how='left')

In [69]:
df_merged

,ID,shorttitle,author,FullText,docid,oldauthor,authordate,inferreddate,latestcomp,datetype,...,instances,allcopiesofwork,copiesin25yrs,enumcron,volnum,title,parttitle,earlyedition,nonficprob,juvenileprob
0,1400,Great expectations: [and other stories],"Dickens, Charles",Great Expectations[1867 Edition]by Charles Dic...,inu.30000011835398,"Dickens, Charles",1812-1870.,0,1870,n,...,1,1.0,1.0,NaN,NaN,Great expectations: | [and other stories]/ | $...,NaN,True,0.521284,0.081614